* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-image: url("/Wildlife/assets/Rectangle.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: right;
  /* text-align: center; */
  /* padding: 0 20px;
  color: white; */
  /* background-color: #02160b; */
}

/* header {
  
} */

#logo-image {
  position: absolute;
  margin-left: 121.07px;
  margin-top: 20.8px;
  height: 58.4x;
  width: 68.2px;
}

h1 {
  /* wildlife */

  position: absolute;
  width: 155px;
  height: 60px;
  left: 205px;
  top: 19px;

  /* Logo */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  /* identical to box height, or 188% */

  text-transform: uppercase;

  /* font-light */

  color: #f7f7f7;
}

#signin {
  position: absolute;
  width: 120px;
  height: 50px;
  left: 1200px;
  top: 24px;
  border: 2px solid #cd6326;
  border-radius: 5px;
}

.fa-search {
  position: absolute;
  height: 23.312999725341797px;
  width: 23.312999725341797px;
  left: 1111px;
  top: 38px;
  border-radius: 0px;
  background-color: #02160b;
  color: aliceblue;
}

#contacts a {
  text-decoration: none;
  list-style-type: none;
  /* Contacts */

  position: absolute;
  width: 96px;
  height: 60px;
  left: 951px;
  top: 19px;

  /* menu-UI */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
  /* identical to box height, or 261% */

  /* font-light */

  color: #f7f7f7;
}

#blog a {
  text-decoration: none;
  list-style-type: none;
  position: absolute;
  width: 50px;
  height: 60px;
  left: 840px;
  top: 19px;

  /* menu-UI */

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 60px;
  /* identical to box height, or 261% */

  /* font-light */

  color: #f7f7f7;
}
