body {
  margin: 0px;
  padding: 0px;
  background: #cccccc;
}

.header-wrap {
  margin: 0 auto;
  width: 1440;
  height: 779px;
  background: url(/Wildlife/assets/Rectangle.jpg) no-repeat center;
}

header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logoimg {
  height: 58.4px;
  width: 68.2px;
  margin-top: 20.8px;
}

h1 {
  display: inline;
  /* Logo */
  padding: 3px 15px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;

  text-transform: uppercase;

  /* font-light */

  color: #f7f7f7;
}

.Header-Nav-ul button,
a {
  display: flex;
  text-decoration: none;
  text-align: justify;
  color: #f7f7f7;
}

nav {
  width: 500px;
}

.Header-Nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 5px 0 0 7px;
}

li,
.signin {
  padding-left: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 23px;
}

.signin {
  border: 2px solid;
  border-color: #cd6326;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  background: transparent;
  font-family: "Roboto";
  padding-left: 7px;
}

.signin:hover {
  background: #cd6326;
}
.signin:active {
  background: #8f5613;
}

#search:hover {
  width: 25px;
  height: 25px;
}

.Header-Nav-ul a:hover {
  color: #666666;
}

/* Block Survival */
.header-survival {
  max-width: 1200px;
  margin: 0px auto;
  padding-top: 77px;
}

.survival-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 275px;
  font-family: sans-serif;
  font-weight: lighter;
}

.survival-wrap h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  /* identical to box height, or 150% */

  letter-spacing: 2px;

  /* /orange-main */

  color: #cd6326;
}

.survival-wrap p {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
/* or 150% */


/* font-light */

color: #F7F7F7;

}

.donate {
background: #CD6326;
border-radius: 5px;
width: 160px;
height: 60px;
border: none;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 27px;
/* identical to box height */

text-align: center;

/* font-light */

color: #F7F7F7;
}

.donate:hover{
  background: #E39128;
}
.donate:active{
  background: #CD6326;
}

/* Block Main*/
